/* ul{
    list-style-type: none;
    
}
li{
    color: aqua;
    text-decoration: none;
} */
body{
    background-image: url(https://th.bing.com/th/id/OIP.lYIazB746hKVDSriPK9OpwHaEv?rs=1&pid=ImgDetMain);
    background-repeat: no-repeat;
    background-size:cover;

}